/*
##########
         Universal Styles
##########
*/

html {

  line-height: 1.4
}

body {
  background-color: rgb(243, 245, 245);
  font-family: 'Montserrat', sans-serif;
  color: rgb(71, 71, 71)

}


.section-container {
  padding: 2.3em 0;
}

.flex {
  display: flex;
}

.big-image{
 width: 60%;
 height: auto;
 padding: 0 1.8em;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

.column {
  width: 42%;
  height: 100%;
  flex-direction: column;

}

.img {
  display: flex;
  padding: 1.1em 0 1.1em 1.5em;
  overflow: hidden;
  transition: box-shadow 500ms linear 100ms;
}

.img:hover {
  -webkit-box-shadow: 65px 0px 40px -10px rgb(211, 211, 211) inset;
 -moz-box-shadow: 65px 0px 40px -10px rgb(211, 211, 211) inset;
 box-shadow: 65px 0px 40px -10px rgb(211, 211, 211) inset;
 transition: box-shadow 500ms linear 100ms;
 cursor: pointer;
}

.background {
  background-color: rgb(211, 211, 211);
  transition: box-shadow 500ms linear 100ms;
}

.background:hover {
  -webkit-box-shadow: 65px 0px 40px -10px rgb(243, 245, 245) inset;
 -moz-box-shadow: 65px 0px 40px -10px rgb(243, 245, 245) inset;
 box-shadow: 65px 0px 40px -10px rgb(243, 245, 245) inset;
 transition: box-shadow 500ms linear 100ms;
 cursor: pointer;
}

.img-container {
  width: 35%;
  height: auto;
}

.img-itself:hover {

}

.caption {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.55em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.caption h4 {
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.5em;
}

.caption p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.13px;
  padding: 0.5em 0 0.5em 0;
}

.img-itself {
 max-width: 100%;
 height: auto;
 margin: 0 auto;
}

.link {
  color: rgb(51, 136, 221);
  transition: opacity 400ms ease-out 50ms;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 200ms ease-out 50ms;
}

@media only screen and (min-width: 760px) {
.mobile {
  display: none;
}
}

@media only screen and (max-width: 760px) {
 .desktop {
   display: none;
}

 body {
     background-color: white;
 }

 .flex {
   flex-direction: column;
 }
 .mobile-container {
  margin: 0 1.5em;
 }
   .mobile-image {
     max-width: 100%;
   }

   .column {
     width: auto;
   }

   .img-container {
     width: 100%;
     height: auto;
   }

   .img {
     flex-direction: column;
     padding: 1.1em 1.5em
   }

   .caption {
     width: 100%;
     height: auto;
     padding: 1em 0 0 1em;
   }

   .img-itself-mobile {
     width: 100%;
     height: auto;
   }

   .border {
     border-top: none !important;
     border-bottom: none !important;
   }
}

/*
###########
           Header
###########
*/

header {
justify-content: space-between;
padding: 0.5em 1.5em;
}

.logo {
  text-transform: uppercase;
  height: 2em;
  font-size: 1.5em;
  align-items: center;
}

.logo img {
  height: 2em;
  margin-right: 0.1em;
}

.one {
  font-weight: 600;
}

.two {
  color: rgb(154, 154, 154);
  font-weight: 300;
}

ul {
display: flex;

}

nav {
  display: flex;
  align-items: center;
}

li a {
    color: rgb(71,71,71);
    text-decoration: none;
    padding: 0 0.35em;
    font-size: 1.2em;
    font-weight: 300;
    display: inline-block;
      position: relative;
}



ul a:after,
ul a:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.2em;
  width: 100%;
  margin-top: -0.1em;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

}

ul a:before {
  border-left: 1px solid rgb(154, 154, 154);
  border-right: 1px solid rgb(154, 154, 154);
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

ul a:after {
  border-bottom: 1px solid rgb(154, 154, 154);
  border-top: 1px solid rgb(154, 154, 154);
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

ul a:hover:after,
ul a:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



li a:hover {
  color: rgb(154, 154, 154);
  cursor: pointer;
  transition: color 350ms;
}

@media only screen and (max-width: 760px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.8em;
  }

  header img {
    height: 2.3em;
  }

  header .logo {
    height: 1.9em;
  }
}

/*
###########
           Banner
###########
*/
 .banner {
   background-color: rgb(215, 215, 215);

 }


 .banner-caption {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 3em 1em;
   width: 40%;
 }

 .banner-caption-container {
   width: 80%;
   padding-left: 0.5em;
 }

 .banner-caption-container h1 {
  font-weight: bold;
  font-size: 2.7em;
  line-height: 1.2em;
 }

 .banner-caption-container h3 {
   font-weight: 600;
   font-size: 1.4em;
   padding: 1.2em 0 1.7em 0;
   line-height: 1.5em;
 }

 .button {
  color: white;
  font-size: 1.1em;
  letter-spacing: 1px;
  background-color: rgb(71,71,71);
  padding: 1em;
  text-align: center;
  transition: background-color 700ms linear 50ms;
 }

 .button:hover {
   background-color: rgb(125, 128, 133);
   transition: background-color 700ms linear 100ms;
   cursor: pointer;

 }

 @media only screen and (max-width: 760px) {

   .banner .mobile-container {
    padding: 2em 0 2.6em 1em;
   }

   .banner .mobile-container h1 {
     font-weight: bold;
     font-size: 2.6em;
     line-height: 1.3em;
     padding-bottom: 0.5em;
   }

   .banner .mobile-container h3 {
     font-weight: 600;
     font-size: 1.7em;
     line-height: 1.5em;
     padding-bottom: 1em;
   }
 }

 /*
 ###########
            Information
 ###########
 */

.information {
  background-color: rgb(242, 245, 245);
  padding-bottom: 4.5em;
}
 .information .big-image {
   border: 1px solid rgb(211, 211, 211);
 }

.info-caption {
  width: 95%
}

 .info-caption h1 {
   font-weight: 700;
   font-size: 2.2em;
   line-height: 1.2em;
   padding: 32px 0 24px 0;
 }

 .info-caption p {
   font-weight: 300;
   font-size: 0.95em;
   line-height: 1.5em;
   letter-spacing: 0.3px;
 }

 .info-caption div {
   font-size: 0.9em;
   padding-top: 2.9em;
    }

 .border {
   border-bottom: 1px solid rgb(211, 211, 211);
   border-top: 1px solid rgb(211, 211, 211);
 }

 @media only screen and (max-width: 760px) {
   .information .column {

   }
 }

/*
###########
           Courses
###########
*/

.courses-banner {
  background-color: rgb(233, 234, 235);
}

.courses-banner h2 {
  font-weight: 700;
  font-size: 2.35em;
  text-align: center;
  padding: 1.5em 0;
}

.courses {
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 5.1em 2em 5.1em;
}

.course {
  width: 30%;
  height: auto;
  margin: 0 0.8em 2em 0.8em;
  background-color: rgb(255, 255, 255);
  transition: transform 500ms linear 100ms;
}

.course:hover {
  -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
     -o-transform: rotate(-7deg);
      transform: rotate(-7deg);
  cursor: pointer;
  transition: transform 500ms linear 100ms;
}

.course img {
  max-width: 100%;
}

.course-caption {
  margin-left: 1.5em;
  width: 85%;
  height: 10.3em;
}

.course h4 {
  font-weight: 600;
  font-size: 1.4em;
  margin: 1em 0;
}

.course h6 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  color: rgb(126, 126, 126);
  margin: 1em 0;
}

.course p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: rgb(126, 126, 126);
}

@media only screen and (max-width: 760px) {

  .courses-banner {
    background-color: rgb(245, 244, 245);
    border: 1px solid rgb(232, 232, 232);
  }

  .courses-banner h2 {
    padding: 1.1em 0;
  }

  .courses-banner .mobile {
  flex-direction: column;
  padding-bottom: 1.5em;
  }

  .courses-mobile {
    background-color: rgb(215, 215, 215);
    margin-bottom: 0.7em;
  }

  .courses-mobile h4 {
    font-weight: 700;
    font-size: 1.4em;
    padding: 1.5em 1em;
  }
}

/*
###########
           Thesis
###########
*/

.thesis {
  padding-bottom: 2.8em;
}
.thesis h2 {
  font-weight: 700;
  font-size: 2.35em;
  text-align: center;
  padding: 1.1em 0;
}

.thesis-caption {
  width: 95%
}

.thesis-caption h4 {
  font-weight: 600;
  font-size: 1.4em;
  margin: 1em 0;
}

.thesis-caption p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  color: rgb(126, 126, 126);
}

.thesis .desktop .column .img .caption p {
    color: rgb(126, 126, 126);
}


/*
###########
           Footer
###########
*/

footer {
  justify-content: space-between;
  color: rgb(126, 126, 126);
  padding: 1.5em 1.5em 4.2em 1.5em;
  font-weight: 300;
  font-size: 0.9em;
  border-top: 1px solid rgb(226, 228, 228);
}

footer nav ul li {
  margin-left: 1em;
  transition: color 400ms ease-out 50ms;
}

footer nav ul li:hover {
  color: rgb(192, 205, 211);
  cursor: pointer;
  transition: color 200ms ease-out 50ms;
}

footer nav ul li:active {
  color: black;
}

@media only screen and (max-width: 760px) {
  footer {
    border: none;
    padding: 1.1em 1.5em 2.4em 1.5em;
    color: rgb(95, 96, 96);
  }
}
